@import "reset.css";

body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#unitConverter {
   border: 3px solid royalblue;
}

.unitConverter-header {
   border-bottom: 3px solid royalblue;
   text-align: center;
   padding: 20px 0px;
   font-size: 30px;
   font-weight: bold;
}

.unitConverter-body {
   padding: 20px;
}

.input__inch {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.input__inch h3 {
   font-size: 22px;
   font-weight: 600;
   color: tomato;
}

.input__inch input,
.input__cm input {
   border: none;

   text-align: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.input__inch input:focus,
.input__cm input:focus {
   outline: none;
}

.convert-btn {
   display: flex;
   justify-content: space-around;
   margin: 60px 0px;
}

.convert-btn button {
   font-size: 16px;
   border: none;
   border-radius: 10px;
   padding: 5px 10px;
   color: white;
   box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.convert-btn__inchToCm {
   background-color: tomato;
   margin-right: 15px;
}

.convert-btn__cmToInch {
   background-color: teal;
}

.convert-btn button:active {
   transform: scale(0.9);
}

.convert-btn button:focus {
   outline: none;
}

.input__cm {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
}

.input__cm h3 {
   font-size: 22px;
   font-weight: 600;
   color: teal;
   padding-left: 5px;
}

.error {
   display: flex;
   justify-content: center;
}
